/**
 * FONTS
 */

@import url('http://fonts.googleapis.com/css?family=Dosis:400,700');


/**
 * GLOBAL
 */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #3F3F3F;
	font-family: 'Dosis', sans-serif;
}